<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header :: header-css"></head>	
<body>
<div th:replace="fragments/header :: header"/></div>

<div class="content">
    <div class="wrap wrap-background">
        <div class="row-content">
            <div class="container">
                <div class="row">
                    <div class="column-content column-main column-blue">
                        <div class="row content-header">
                            <h4 class="page-title"><i class="fa fa-history" aria-hidden="true"></i> View Applying History</h4>
                            <ol class="breadcrumb p-0 m-0">
                                <li>
                                    <a class="page-title-copy" href="#">View Applying History</a>
                                </li>
                                <li class="active">
                                    Home
                                </li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>

                        <div class="content-table table-recent-apply">
                            <table data-toggle="table" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Applicant ID</th>
                                    <th>Apply Time</th>
                                    <th>Handle Time</th>
                                    <th>State</th>
                                    <th>Comment</th>
                                    <th>Action</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="sbcon">
                                <tr>
                                    <td>
                                        <div class="loadingsb" style="padding:50px 0 0px 30px;">
                                            <div class="loader">
                                                <div class="loader-inner ball-scale-multiple">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                    <p class="load" style="margin-left: 100px !important;padding-top:15px !important;font-size: 18px;">Loading</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <input type="hidden" class="current-page" value="0" />
                        <div name="page" id="pages"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    
    <!-- 修改模态框 -->
    <div class="modal fade modal-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update an applicant</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="alert-message-success" class="alert alert-success" role="alert"  style="display:none;">
                            <i class="fa fa-check-circle"></i> Your request has been succesfully updated
                        </div>
                        <div id="alert-message-fail" class="alert alert-danger" role="alert" style="display:none;">
                            <i class="fa fa-times-circle"></i> Sorry, please check your form
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="given_name">Given Name</label>
                                <input type="text" class="form-control" id="given_name" placeholder="given name"></input>
                                <small class="text-muted">Your given name, first name</small>
                            </div>
                            <div class="form-group">
                                <label for="family_name">Family Name</label>
                                <input type="text" class="form-control" id="family_name" placeholder="family name"></input>
                                <small class="text-muted">Your family name, surname</small>
                            </div>

                            <div class="form-group">
                                <label for="birthday">Birthday</label>
                                <input type="text" class="form-control" id="birthday" value="1995-01-01"></input>
                            </div>

                            <input type="hidden" id ="apply_note" value = "apply_note"></input>
                            <input type="hidden" id ="apply_state" value = "apply_state"></input>
                            <input type="hidden" id ="apply_time" value = "apply_time"></input>
                            <input type="hidden" id ="handle_time" value = "handle_time"></input>
                            <input type="hidden" id ="id" value = "id"></input>
                            <input type="hidden" id ="user_id" value = "user_id"></input>
                            <div class="form-group">
                                <label for="identity_type">Identity Type</label>
                                <select class="form-control" id = "identity_type">
                                    <option value="email">email</option>
                                    <option value="studentId">studentId</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="identity">Identity value</label>
                                <input type="text" class="form-control" id="identity" placeholder=""></input>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="apply_type">Apply Type</label>
                                <select class="form-control" id = "apply_type">
                                    <option value="Certificate">Certificate</option>
                                    <option value="Transcript">Transcript</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="file">Your Apply File Hash</label>

                                <small class="text-muted"><span id="file_hash_show"></span></small>

                                <input id="file" type="file" class="file"></input>
                                <input id="file_hash" type="hidden" value=""></input>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="updateStuConf()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
