<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> - Dashboard</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap-table.min.css">

    <link href="/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link rel="stylesheet" href="../css/sweetalert.css">

    <link href="/admin/css/style.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5> Broadcasted Transaction Management</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="column-content column-main column-blue">
                        <div id="toolbar" class="btn-group">
                        </div>
                        <table id="table-list"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- 全局js -->
    <script src="/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/admin/js/plugins/layer/layer.min.js"></script>
    <!-- 自定义js -->
    <script src="/admin/js/content.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="../jslib/bootstrap-table.min.js"></script>

    <!-- File Hash Lib-->
    <script src="../jslib/spark-md5.min.js"></script>
    <!-- Base64 Lib-->
    <script src="../jslib/crypto-min.js"></script>
    <script src="../jslib/jquery.base64.js"></script>
    <script src="../jslib/sweetalert.min.js"></script>
    <!-- Main -->
    <script src ="../../jslib/jsbn.js"></script>
    <script src ="../../jslib/ellipticcurve.js"></script>
    <script src ="../../jslib/ripemd160.js"></script>
    <script src ="../../jslib/sha512.js"></script>
    <script src ="../../jslib/crypto-sha256.js"></script>
    <script src ="../../js/btcert.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/issuer-broadcasted-transaction-list.js"></script>
</body>

</html>

