<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> - Dashboard</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap-table.min.css">

    <link href="/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link rel="stylesheet" href="../css/sweetalert.css">

    <link href="/admin/css/style.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>  Latest Confirmed Transaction Management</h5>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div class="column-content column-main column-blue">
                        <div class="row" id = "detailTransactionDiv">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Transaction Id</th>
                                    <th>Time_utc</th>
                                    <th>Confirmations</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody class="sbcon">
                                <tr><td>
                                    <div class="loadingsb" style="padding:50px 0 0px 30px;">
                                        <div class="loader">
                                            <div class="loader-inner ball-scale-multiple">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <p class="load" style="margin-left: 100px !important;padding-top:15px !important;font-size: 18px;">Loading</p>
                                            </div>
                                        </div>
                                    </div>
                                </td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>



    <!-- 修改模态框 -->
    <div class="modal fade modal-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign the Transaction</h4>
                </div>
                <div class="modal-body">
                    <div id="alert-message-success" class="alert alert-success" role="alert"  style="display:none;">
                        <i class="fa fa-check-circle"></i> Your request has been succesfully updated
                    </div>
                    <div id="alert-message-fail" class="alert alert-danger" role="alert" style="display:none;">
                        <i class="fa fa-times-circle"></i> Sorry, please check your form
                    </div>


                    <label for="usr">Broadcast Time:  </label>
                    <input type="text" class="form-control" placeholder="time" id ="time" readonly="readonly">

                    <label for="usr">Transaction Value:  </label>
                    <input type="text" class="form-control" placeholder="value" id ="value" readonly="readonly">

                    <label for="usr">Confirmations Number:  </label>
                    <input type="text" class="form-control" placeholder="confirmations" id ="confirmations" readonly="readonly">

                    <label for="usr">Script Hex:</label>
                    <input type="text" class="form-control" placeholder="script_hex" id ="script_hex" readonly="readonly">

                    <label for="usr">Transaction Id:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="txid" id ="txid" readonly="readonly">
                        <span class="input-group-btn">
							<button class="btn btn-default" id = "showCerts" type="button">Show</button>
						</span>
                    </div>

                    <br>
                    <div class="content-table table-dislay" style = "display: none">
                        <table data-toggle="table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Recipient</th>
                                <th>Issued Time</th>
                                <th>Issuer</th>
                            </tr>
                            </thead>
                            <tbody class="sbcon1">
                            <tr>
                                <td>
                                    <div class="loadingsb1" style="padding:50px 0 0px 30px;">
                                        <div class="loader">
                                            <div class="loader-inner ball-scale-multiple">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <p class="load" style="margin-left: 100px !important;padding-top:15px !important;font-size: 18px;">Loading</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <input type="hidden" class="current-page1" value="0" />
                        <div name="page1" id="pages1"></div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/admin/js/plugins/layer/layer.min.js"></script>
    <!-- 自定义js -->
    <script src="/admin/js/content.js"></script>
    <!-- Bootstrap 3.3.6 -->

    <script src="../jslib/bootstrap-table.min.js"></script>

    <script src="../jslib/spark-md5.min.js"></script>
    <script src="../jslib/crypto-min.js"></script>
    <script src="../jslib/jquery.base64.js"></script>
    <script src="../jslib/sweetalert.min.js"></script>
    <!-- Main -->
    <script src ="../../js/btcert.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/admin-latest-confirmed-transaction.js"></script>


</body>

</html>